*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff:  'Space Grotesk', sans-serif;
    --sfw: 400;
    --mfw: 600;
    --lfw: 800;
    --sfs: 14px;
    --lfs: 24px;

    --hclr:  #a2d6f9;
    --bclr: #000814;
    --shclr: #1A1921;
    --tclr: #4E4E4E;
}

body {
    margin: 0;
    background: #a2d6f9;
}